.register-app-container {
  height: 100vh;
  background-color: #6faa4f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-app-container form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
  padding: 50px 15px;
  width: 250px;
  height: 200px;
  box-shadow: 0 2px 12px #276605;
}

.register-app-container input {
  padding: 8px 0;
  width: 100%;
  border: none;
  outline: none;
  background-color: #ddd;
}

.register-app-container button {
  background-color: #6faa4f;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.register-app-container p {
  font-size: 12px;
  color: red;
}
.register-app-input {
  min-height: 50px;
  padding: 0;
  margin: 0;
}
